# Ignore file for git (https://git-scm.com/docs/gitignore)

mutation.html
stryker.log
unit.lcov

## ESLint
.eslintcache

## Node.js
node_modules/
.npm/
.node_repl_history
depreman-*.tgz
npm-debug.log*
